<!--{template header}-->
<!--{template menu}-->
<!--{template article_sidebar}-->
<div class="col-md-10">
	<ul>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>
		<li><a href="">一篇我很喜欢的文章</a></li>

	</ul>
</div>
<!--{template footer}-->
